/* google fonts  */
.work-sans {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

/* shared styles */
* {
    margin: 0;
    padding: 0;
}

.flex {
    display: flex;
}

/* fonts color */

.dark1 {
    color: rgba(19, 19, 19, 1);
}

.dark2 {
    color: rgba(66, 66, 66, 1);
    font-weight: 600;
    font-size: 3.75rem;

}

.dark3 {
    color: rgba(114, 114, 114, 1);
}

.dark4 {
    color: rgba(161, 161, 161, 1);
}

.dark5 {
    color: rgba(208, 208, 208, 1);
}

.dark6 {
    color: rgba(231, 231, 231, 1);
}

.dark7 {
    color: rgba(243, 243, 243, 1);
}

main>section {
    width: 1440px;
    margin: 0 auto;
}

/* pimary button */
.primary-button {
    background-color: rgba(255, 144, 14, 1);
    color: white;
    padding: 20px 25px;
    border-radius: 8px;
    border: none;
    font-size: 1.25rem;
    font-weight: 600;
    cursor: pointer;
}

/* header section style */
header {
    background-color: rgba(255, 144, 14, 0.1);
    text-align: center;
    padding: 100px;
    padding-bottom: 50px;
}

nav {
    width: 100%;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 100px;
}

.brand {
    font-size: 2.75rem;
    font-weight: bold;
}

nav ul {
    gap: 2.5rem;
    justify-content: space-around;
    align-items: center;
}

nav li {
    list-style: none;
}

nav li a {
    text-decoration: none;
    color: rgba(66, 66, 66, 1);
    font-size: 1.125rem;
    font-weight: normal;
}

.content-container button {
    margin: 32px auto 50px;
}

.architecht {
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 50px;
}

.architecht-content,
.features-content,
.fact-content,
.sponsors-content {
    font-size: 1rem;
    font-weight: normal;
    line-height: 26px;
}

.hero img {
    height: 700px;
}

/* main part styling */
.quick-list-section {
    justify-content: space-between;
    align-items: center;
    margin: 100px auto;
}

.features-heading {
    font-size: 3.75rem;
    margin-bottom: 24px;
}

.features-color {
    color: rgba(255, 144, 14, 1);
}

.features-content {
    margin-bottom: 32px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

/* Features you will love & enjoy section styles */
.enjoy {
    margin: 240px auto;
    justify-content: space-between;
    align-items: center;
    gap: 146px;
}

.enjoy-heading {
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 24px;
    border-left: 5px solid rgba(255, 144, 14, 1);
    padding-left: 21px;
}

.enjoy-content,
.card>p {
    font-size: 1rem;
    line-height: 26px;
    font-weight: normal;
}

.card>h3 {
    font-size: 1.25rem;
    font-weight: 600;
}

.card {
    flex-direction: column;
    justify-content: center;
    width: 585px;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
    gap: 16px;
}

#experience-badge {
    padding: 45px 42px;
    font-size: 1.5rem;
    font-weight: 500;
    margin-left: -100px;
    margin-top: -100px;
}

#experience-year {
    font-size: 4rem;
    font-weight: 700;
}

.featured-architect img {
    width: 100%;
}

/* Some Facts styles */
.some-facts {
    margin-top: 130px;
    margin-bottom: 180px;
}

.section-title,
.sponsors-heading {
    font-weight: bold;
    font-size: 3.75rem;
    margin-bottom: 24px;
}

.facts-container {
    justify-content: space-between;
    margin-top: 100px;
}

.fact-card {
    border: 2px solid rgba(255, 144, 14, 1);
    border-radius: 8px;
}

.fact-card div {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 45px 40px 60px;
    gap: 7px;
}

.fact-icon {
    height: 45px;
    width: 45px;
}

.fact-name {
    font-weight: 600;
    font-size: 1.25rem;
}

/* sponsors styles */

.our-sponsors {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.sponsor-companies {
    width: 100%;
    margin-top: 50px;
    justify-content: space-around;
    filter: grayscale(100%);
}

/* footer section styles */
footer {
    width: 75%;
    background-color: rgba(255, 244, 231, 1);
    margin: 130px auto 215px;
    justify-content: center;
    text-align: center;
    align-items: center;
    border-radius: 8px;
    height: 100px;
}

.footer-content {
    margin: 40px auto;
}
.footer-content p{
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 30px;
}
/* responsive */

@media screen and (max-width:576px) {
    .flex {
        flex-direction: column;
    }

    main>section {
        max-width: 90vw;
        margin: 0 auto;
    }

    header {
        /* width: 90vw; */
        padding: 50px;
        padding-bottom: 20px;
    }

    nav {
        margin-bottom: 30px;
        border-bottom: 2px solid rgba(175, 154, 130, 0.2);
    }

    .hero img {
        height: 100%;
        width: 100%;
        border-radius: 16px;
    }

    nav ul {
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .quick-list-section {
        width: 100%;
    }

    .grid-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .response {
        padding: 50px;
        text-align: center;
    }

    #experience-badge {
        display: none;
    }

    .enjoy {
        margin: 100px auto;
        align-items: flex-start;
        gap: 70px;
        padding: 10px;
    }

    .enjoy-heading {
        margin-left: 0px;
        font-size: 2.5rem;
    }

    .enjoy-content,
    .card {
        width: 90vw;
        padding: 5px;
        gap: 16px;
    }

    .enjoy-content br {
        display: none;
    }

    .featured-architect img {
        width: 90vw;
    }

    .some-facts {
        align-items: flex-start;
    }

    .fact-card {
        margin: 40px 90px;
    }
    .sponsor-companies img {
        height: 50px;
        width: 165px;
        margin: 25px auto;
        gap: 24px;
    }
}